<div id="new_cut">
  <%= link_to "Add a New Cut!", new_topic_path, class: "button" %>
</div>
<br/>
<div id="content">
  <p>CUTS:</p>
  <% @topics.each do |topic| %>
  <div class="topic">
    <%= link_to topic.title, "#", remote: true, class: "title" %>
    <span class="comment_link">
      <%= link_to "comment", topic_comments_path(topic.id) %>
    </span>
    <br/>
    <div class="description closed"><%= topic.content %></div>
  </div>
  <br/>
  <% end %>
  <br/>
</div>
<br/>
